.chatPane {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.chatPane .messages {
  flex: 7 7 0;
}

.chatPane .input {
  flex: 3 3 0;
}

.messages ul,
.messages ol {

}

.messages li {
  display: flex;
}

.user {
  flex: 1 1 0;
}

.message {
  flex: 4 4 0;
}

.input {
  background: #eee;
  position: relative;
}

.input textarea {
  position: absolute;
  box-sizing: border-box;
  left: 2rem;
  top: 2rem;
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
  border: 1px solid #ccc;
  box-shadow: 0 0 30px rgba(0,0,0,0.1);
  resize: none;
  outline: none;
  font-size: 1rem;
  font-family: 'Space Mono', sans-serif;
  padding: 1rem;
}