.root {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.root > div {
  flex: 4 4 0;
  overflow-y: scroll;
}

.container {
  /*position: absolute;
  top: 30%;
  left: 10px;*/
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.root .paneLeft {
  flex: 1 1 0;
  border-right: 1px solid darkgray;
}